/* HEADER */

/* HERO */
    .hero-left,
    .hero-right {
        display: inline-block;
        float: left;
        width: 50%;
        margin-top: 70px;
    }
        div.discount {
            display: inline-block;
            margin: 0 15px 10px;
            border: 1px solid #9292922e;
            padding: 4px 15px;
            border-radius: 3px;
            box-shadow: 0 7px 25px 0 rgba(22,53,76,0.05);
        }
            div.discount > b {
                color: #7052FB;
            }
        h1 {
            font-size: 55px;
            line-height: 70px;
            font-weight: 400;
            margin: 0 15px 20px 15px;
            color: #2b2350
        }
        div.hero-left > p {
            margin: 0 15px 40px 15px;
        }
            div.hero-links > a.button {
                margin: 0 10px 50px 15px;
            }
            div.hero-links > a.button:hover {
                box-shadow: none;
            }
            div.hero-right{
                position: relative;
            }
        div.hero-right > img {
            width: 650px;
            border: 1px solid #fff;
            border-radius: 10px;
            box-shadow: 0 30px 60px 0 rgba(0,11,40,0.14);
            margin: 40px 0 0 0;
        }
    div.hero-bg > img {
        position: absolute;
        width: 100%;
        top: -25px;
        right: 0;
        z-index: -1;
    }
/* HOMEPAGE ABOUT */

/* FEATURE */

/* APP */

/* PROJECTS */

/* FAQ */

/* TESTIMONIALS */

/* OUR TEAM */

/* ADDRESS */
.container.address > .row {
    height: 424px;
    margin-bottom: 100px;
}
    .container.adrs > .row > .adrs-title > .title{
        margin-bottom: 20px;
        font-size: 36px;
    }
        .container.address > .row > .adrs-contacts {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
            .container.address > .row > .adrs-contacts > .adrs-box-wrap {
                padding-left: 15px;
                padding-right: 15px;
            }
                .container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box {
                    padding: 10px;
                    text-align: center;
                    height: 100%;
                }
                    .container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box > .adrs-box-titles {
                        font-size: 20px;
                        margin-bottom: 5px;
                    }
                        .container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box > .adrs-icons {
                            display: flex;
                            margin: 0 auto;
                            width: 110px;
                            border-radius: 30px;
                            height: 110px;
                            justify-content: center;
                            align-items: center;
                            margin: 16px 120px;
                        }
                            .container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box > .adrs-icons > .fas {
                                font-size: 45px;
                                color: gray;
                            }
                            .container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box > .adrs-social {
                                margin-top: 15px;
                            }
                            .container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box > .adrs-social > a >.fab {
                                line-height: 30px;
                                padding: 0px 15px;
                                font-size: 20px;
                                color: gray;
                            }
                            .container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box > .adrs-paragraphs,
                            .container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box > .adrs-titles {
                                margin-bottom: 5px;
                            }
/* FOOTER */


@media (max-width: 990px) {
/* HEADER */

/* HERO */

/* HOMEPAGE ABOUT */

/* FEATURE */

/* APP */

/* PROJECTS */

/* FAQ */

/* TESTIMONIALS */

/* OUR TEAM */

/* ADDRESS */
.container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box > .adrs-icons {
    margin: 0 auto;
}
/* FOOTER */

}
@media (max-width: 750px) {
    /* HEADER */

/* HERO */

/* HOMEPAGE ABOUT */

/* FEATURE */

/* APP */

/* PROJECTS */

/* FAQ */

/* TESTIMONIALS */

/* OUR TEAM */

/* ADDRESS */
.container.address > .row {
    height: max-content;
}
    .container.address > .row > .adrs-contacts {
        display: block;
    }
        .container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box > .adrs-icons {
            margin: 16px 190px;
        }
/* FOOTER */

}
@media (max-width: 540px) {
/* HEADER */

/* HERO */

/* HOMEPAGE ABOUT */

/* FEATURE */

/* APP */

/* PROJECTS */

/* FAQ */

/* TESTIMONIALS */

/* OUR TEAM */

/* ADDRESS */
.container.address > .row > .adrs-contacts > .adrs-box-wrap > .adrs-box > .adrs-icons {
    margin: auto;
}
    .container.address > .row > .adrs-contacts {
        width: 100%;
    }
/* FOOTER */

}
