/* HEADER */

/* HERO */
    .hero-left,
    .hero-right {
        display: inline-block;
        float: left;
        width: 50%;
        margin-top: 70px;
    }
        div.discount {
            display: inline-block;
            margin: 0 15px 10px;
            border: 1px solid #9292922e;
            padding: 4px 15px;
            border-radius: 3px;
            box-shadow: 0 7px 25px 0 rgba(22,53,76,0.05);
        }
            div.discount > b {
                color: #7052FB;
            }
        h1 {
            font-size: 55px;
            line-height: 70px;
            font-weight: 400;
            margin: 0 15px 20px 15px;
            color: #2b2350
        }
        div.hero-left > p {
            margin: 0 15px 40px 15px;
        }
            div.hero-links > a.button {
                margin: 0 10px 50px 15px;
            }
            div.hero-links > a.button:hover {
                box-shadow: none;
            }
            div.hero-right{
                position: relative;
            }
        div.hero-right > img {
            width: 650px;
            border: 1px solid #fff;
            border-radius: 10px;
            box-shadow: 0 30px 60px 0 rgba(0,11,40,0.14);
            margin: 40px 0 0 0;
        }
    div.hero-bg > img {
        position: absolute;
        width: 100%;
        top: -25px;
        right: 0;
        z-index: -1;
    }
/* HOMEPAGE ABOUT */

/* FEATURE */

/* APP */
.app > .row {
    margin-top: 100px;
    margin-bottom: 100px;
    max-height: 700px;
}
.app > .row > .right-column {
    position: relative;
    display: inline-block;
    width: 60%;
}
    .app > .row > .right-column > .mobile-1 {
        position: relative;
        z-index: 22;
        margin-left: 185px;
        max-width: 300px;
        }
    .app > .row > .right-column > .mobile-2 {
        position: absolute;
        max-width: 300px;
        right: 20px;
        top: -50px;
    }
.app > .row > .left-column {
    padding-top: 50px;
    padding-bottom: 100px;
    display: inline-block;
    float: left;
    width: 40%;
    align-items: center;
}
    .app > .row > .left-column > .left-column-title {
        text-align: left;
        margin-bottom: 25px;
        line-height: 40px;
    }
    .app > .row > .left-column > .left-column-paragraph {
        margin-bottom: 45px;
    }
    .app > .row > .left-column > .left-column-buttons > .button.white.round {
        margin-right: 20px;
    }
        .app > .row > .left-column > .left-column-buttons > .button.white.round > .fab {
            color: #7052fb;
            line-height: 28px;
        }
/* PROJECTS */

/* FAQ */

/* TESTIMONIALS */

/* OUR TEAM */

/* ADDRESS */

/* FOOTER */


@media (max-width: 990px) {
/* HEADER */

/* HERO */

/* HOMEPAGE ABOUT */

/* FEATURE */

/* APP */
.app > .row {
    margin-top: 100px;
    margin-bottom: 100px;
    max-height: max-content;
}
    .app > .row > .right-column {
        position: relative;
        display: block;
        float: left;
        width: 100%;
    }
        .app > .row > .right-column > .mobile-1 {
            position: relative;
            z-index: 22;
            margin-left: 0px;
            max-width: 300px;
        }
        .app > .row > .right-column > .mobile-2 {
            position: absolute;
            max-width: 300px;
            right: 203px;
            top: -50px;
        }
.app > .row > .left-column {
    display: block;
    float: left;
    width: 100%;
    align-items: center;
}
/* PROJECTS */

/* FAQ */

/* TESTIMONIALS */

/* OUR TEAM */

/* ADDRESS */

/* FOOTER */

}
@media (max-width: 750px) {
    /* HEADER */

/* HERO */

/* HOMEPAGE ABOUT */

/* FEATURE */

/* APP */
.app > .row > .right-column > .mobile-2 {
    position: absolute;
    max-width: 300px;
    right: 20px;
    top: -50px;
}
/* PROJECTS */

/* FAQ */

/* TESTIMONIALS */

/* OUR TEAM */

/* ADDRESS */

/* FOOTER */

}
@media (max-width: 540px) {
/* HEADER */

/* HERO */

/* HOMEPAGE ABOUT */

/* FEATURE */

/* APP */
.app > .row > .right-column > .mobile-2 {
    position: absolute;
    max-width: 300px;
    right: 150px;
    top: -50px;
}
/* PROJECTS */

/* FAQ */

/* TESTIMONIALS */

/* OUR TEAM */

/* ADDRESS */

/* FOOTER */

}
