
.our-feature{
    display: flex;
    background-color: #F2EFFF;
    color: #B374FB;
    padding: 10px 20px;
    align-items: center;
    width: 142px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-transform: uppercase;
    border-radius: 5px;
}
.title-feature{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
 .box {
     display: inline-block;
     margin-bottom: 40px;
     width: 350px;
 }
 .margin {
     margin-left: 50px;
     margin-right: 50px;
 }

 .box > .left {
     display: inline-block;
     width: 70px;
     height: 70px;
     float: left;
     background-color: tomato;
     padding: 20px;
     border-radius: 50px 50px  3px  50px;
 }
 .box > .right{
    display: inline-block;
    width: 70%;
    float: left;
    margin-left: 15px;
 }
 .box > .right > p{
     margin-top: 20px;
     font-size: 20px;
 }
 .fa {
     align-items: center;
     text-align: center;
     
 }


@media (max-width: 1300px) {
    .box {
        width:280px; 
    }
    .box > .right{
       
        width: 65%;
     
     }
  
}
@media (max-width: 1100px) {
    .box {
        width:280px; 
    }
    .box > .right{
        width: 50%;
     }
  
    
}
@media (max-width: 900px) {

    .box {
        width:50%; 
    }
  
}
@media (max-width: 700px) {
  
}