body {
    display: grid;
    grid-template-columns: 1fr;
}

.container-fluid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}
    .container-fluid > .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: 1 / 2;
        gap: 30px;
    }
.container {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    padding: 60px 0;
}
    .container > .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: 2 / 3;
        gap: 30px;
    }
    .container-fluid > .row > .col-12,
    .container > .row > .col-12 {
        grid-column: span 12;
    }
    .container-fluid > .row > .col-11,
    .container > .row > .col-11 {
        grid-column: span 11;
    }
    .container-fluid > .row > .col-10,
    .container > .row > .col-10 {
        grid-column: span 10;
    }
    .container-fluid > .row > .col-9,
    .container > .row > .col-9 {
        grid-column: span 9;
    }
    .container-fluid > .row > .col-8,
    .container > .row > .col-8 {
        grid-column: span 8;
    }
    .container-fluid > .row > .col-7,
    .container > .row > .col-7 {
        grid-column: span 7;
    }
    .container-fluid > .row > .col-6,
    .container > .row > .col-6 {
        grid-column: span 6;
    }
    .container-fluid > .row > .col-5,
    .container > .row > .col-5 {
        grid-column: span 5;
    }
    .container-fluid > .row > .col-4,
    .container > .row > .col-4 {
        grid-column: span 4;
    }
    .container-fluid > .row > .col-3,
    .container > .row > .col-3 {
        grid-column: span 3;
    }
    .container-fluid > .row > .col-2,
    .container > .row > .col-2 {
        grid-column: span 2;
    }
    .container-fluid > .row > .col-1,
    .container > .row > .col-1 {
        grid-column: span 1;
    }

@media (max-width: 1300px) {
    .container {
        grid-template-columns: 1fr 1000px 1fr;
    }
    .container-fluid > .row,
    .container > .row {
        gap: 25px;
    }
    .container-fluid > .row > .col-xl-12,
    .container > .row > .col-xl-12 {
        grid-column: span 12;
    }
    .container-fluid > .row > .col-xl-11,
    .container > .row > .col-xl-11 {
        grid-column: span 11;
    }
    .container-fluid > .row > .col-xl-10,
    .container > .row > .col-xl-10 {
        grid-column: span 10;
    }
    .container-fluid > .row > .col-xl-9,
    .container > .row > .col-xl-9 {
        grid-column: span 9;
    }
    .container-fluid > .row > .col-xl-8,
    .container > .row > .col-xl-8 {
        grid-column: span 8;
    }
    .container-fluid > .row > .col-xl-7,
    .container > .row > .col-xl-7 {
        grid-column: span 7;
    }
    .container-fluid > .row > .col-xl-6,
    .container > .row > .col-xl-6 {
        grid-column: span 6;
    }
    .container-fluid > .row > .col-xl-5,
    .container > .row > .col-xl-5 {
        grid-column: span 5;
    }
    .container-fluid > .row > .col-xl-4,
    .container > .row > .col-xl-4 {
        grid-column: span 4;
    }
    .container-fluid > .row > .col-xl-3,
    .container > .row > .col-xl-3 {
        grid-column: span 3;
    }
    .container-fluid > .row > .col-xl-2,
    .container > .row > .col-xl-2 {
        grid-column: span 2;
    }
    .container-fluid > .row > .col-xl-1,
    .container > .row > .col-xl-1 {
        grid-column: span 1;
    }
}
@media (max-width: 990px) {
    .container {
        grid-template-columns: 1fr 720px 1fr;
    }
    .container-fluid > .row,
    .container > .row {
        gap: 20px;
    }
    .container-fluid > .row > .col-lg-12,
    .container > .row > .col-lg-12 {
        grid-column: span 12;
    }
    .container-fluid > .row > .col-lg-11,
    .container > .row > .col-lg-11 {
        grid-column: span 11;
    }
    .container-fluid > .row > .col-lg-10,
    .container > .row > .col-lg-10 {
        grid-column: span 10;
    }
    .container-fluid > .row > .col-lg-9,
    .container > .row > .col-lg-9 {
        grid-column: span 9;
    }
    .container-fluid > .row > .col-lg-8,
    .container > .row > .col-lg-8 {
        grid-column: span 8;
    }
    .container-fluid > .row > .col-lg-7,
    .container > .row > .col-lg-7 {
        grid-column: span 7;
    }
    .container-fluid > .row > .col-lg-6,
    .container > .row > .col-lg-6 {
        grid-column: span 6;
    }
    .container-fluid > .row > .col-lg-5,
    .container > .row > .col-lg-5 {
        grid-column: span 5;
    }
    .container-fluid > .row > .col-lg-4,
    .container > .row > .col-lg-4 {
        grid-column: span 4;
    }
    .container-fluid > .row > .col-lg-3,
    .container > .row > .col-lg-3 {
        grid-column: span 3;
    }
    .container-fluid > .row > .col-lg-2,
    .container > .row > .col-lg-2 {
        grid-column: span 2;
    }
    .container-fluid > .row > .col-lg-1,
    .container > .row > .col-lg-1 {
        grid-column: span 1;
    }
}
@media (max-width: 750px) {
    .container {
        grid-template-columns: 1fr 540px 1fr;
    }
    .container-fluid > .row,
    .container > .row {
        gap: 15px;
    }
    .container-fluid > .row > .col-md-12,
    .container > .row > .col-md-12 {
        grid-column: span 12;
    }
    .container-fluid > .row > .col-md-11,
    .container > .row > .col-md-11 {
        grid-column: span 11;
    }
    .container-fluid > .row > .col-md-10,
    .container > .row > .col-md-10 {
        grid-column: span 10;
    }
    .container-fluid > .row > .col-md-9,
    .container > .row > .col-md-9 {
        grid-column: span 9;
    }
    .container-fluid > .row > .col-md-8,
    .container > .row > .col-md-8 {
        grid-column: span 8;
    }
    .container-fluid > .row > .col-md-7,
    .container > .row > .col-md-7 {
        grid-column: span 7;
    }
    .container-fluid > .row > .col-md-6,
    .container > .row > .col-md-6 {
        grid-column: span 6;
    }
    .container-fluid > .row > .col-md-5,
    .container > .row > .col-md-5 {
        grid-column: span 5;
    }
    .container-fluid > .row > .col-md-4,
    .container > .row > .col-md-4 {
        grid-column: span 4;
    }
    .container-fluid > .row > .col-md-3,
    .container > .row > .col-md-3 {
        grid-column: span 3;
    }
    .container-fluid > .row > .col-md-2,
    .container > .row > .col-md-2 {
        grid-column: span 2;
    }
    .container-fluid > .row > .col-md-1,
    .container > .row > .col-md-1 {
        grid-column: span 1;
    }
}
@media (max-width: 540px) {
    .container {
        grid-template-columns: 15px 1fr 15px;
    }
    .container-fluid > .row,
    .container > .row {
        gap: 10px;
    }
    .container-fluid > .row > .col-sm-12,
    .container > .row > .col-sm-12 {
        grid-column: span 12;
    }
    .container-fluid > .row > .col-sm-11,
    .container > .row > .col-sm-11 {
        grid-column: span 11;
    }
    .container-fluid > .row > .col-sm-10,
    .container > .row > .col-sm-10 {
        grid-column: span 10;
    }
    .container-fluid > .row > .col-sm-9,
    .container > .row > .col-sm-9 {
        grid-column: span 9;
    }
    .container-fluid > .row > .col-sm-8,
    .container > .row > .col-sm-8 {
        grid-column: span 8;
    }
    .container-fluid > .row > .col-sm-7,
    .container > .row > .col-sm-7 {
        grid-column: span 7;
    }
    .container-fluid > .row > .col-sm-6,
    .container > .row > .col-sm-6 {
        grid-column: span 6;
    }
    .container-fluid > .row > .col-sm-5,
    .container > .row > .col-sm-5 {
        grid-column: span 5;
    }
    .container-fluid > .row > .col-sm-4,
    .container > .row > .col-sm-4 {
        grid-column: span 4;
    }
    .container-fluid > .row > .col-sm-3,
    .container > .row > .col-sm-3 {
        grid-column: span 3;
    }
    .container-fluid > .row > .col-sm-2,
    .container > .row > .col-sm-2 {
        grid-column: span 2;
    }
    .container-fluid > .row > .col-sm-1,
    .container > .row > .col-sm-1 {
        grid-column: span 1;
    }
}