/* SECTION TITLE */
.section-title {
  display: flex;
}
.section-title > p {
    background-color: #F2EFFF;
    color: #B374FB;
    padding: 5px 25px ;
    margin: auto ;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600; 
}
/* TITLES (HEADERS) */
.title {

}
.title.center {
    text-align: center;
}
/* PARAGRAPHS */

/* SOCIALS */

