

/* HERO */
.container.hero {
    padding: 150px 0;
    position: relative;
}
.container.hero > .row {
    grid-column: 2 / 3;
}
    .container.hero .title {
        display: inline-block;
        float: left;
        font-size: 50px;
        color: #2b2350;
    }
    .container.hero .hero-path {
        display: inline-block;
        float: left;
        text-align: center;
    }
        .hero-path .hero-home {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            font-size: 18px;
            line-height: 30px;
            color: #2b2350;
            font-weight: 600;
        }
            .hero-path .hero-home:hover {
                color: #fb6638;
            }
        .hero-path .MP-title {
            display: inline-block;
            text-align: center;
            font-size: 18px;
        }
        .animations > .shape-triangle.hero,
        .animations > .shape-square.hero,
        .animations > .shape-square.hero-two,
        .animations > .shape-plus-one.hero,
        .animations > .shape-plus-two.hero,
        .animations > .shape-oval.hero {
            width: 18px;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }
         .animations > .shape-triangle.hero{
             background-image: url(../../img/shape-triangle.png);
         }
        .animations > .shape-square.hero,
        .animations > .shape-square.hero-two {
            background-image: url(../../img/shape-square.png);
        }
        .animations > .shape-plus-one.hero,
        .animations > .shape-plus-two.hero {
            background-image: url(../../img/shape-plus.png);
        }
        .animations > .shape-oval.hero {
            background-image: url(../../img/shape-oval.png);
        }
            .animations > .shape-square.hero {
                    top: -50%;
                    left: 40%;
                }
            .animations > .shape-square.hero-two {
                animation-duration: 13s;
                top: -50%;
                left: 80%;
            }
            .animations > .shape-triangle.hero {
                top: 40%;
                left: 0;
            }
            .animations > .shape-plus-one.hero {
                width: 25px;
                top: -80%;
                left: 0;
            }
            .animations > .shape-plus-two.hero {
                width: 25px;
                top: 120%;
                left: 25%;
            }
            .animations > .shape-oval.hero {
                width: 100px;
                top: -20%;
                right: -15%;
            }

/* FOOTER */
footer {
    background-color: #ffdfb81c;
}

    footer .footer-row nav a:hover {
        color: #2f2f2f
    }
    footer .copyright-section > p > a {
        color: #2f2f2f
    }
    footer .copyright-section > .footer-socials > a > i:hover {
        background-color: #2f2f2f;
    }