.hr.dash {
    border: 0;
    border-top: 1px solid rgb(218, 218, 218);
    border-style: dashed;
    margin: 30px 0;
}

.faqMP >.title {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: left;
}

    .faqMP > .question {
        margin-bottom: 10px;
        font-weight: 700;
    }

.faqMP.menu-box {
    background: #f2f2f25c;
    border-radius: 5px;
    padding: 20px;
}

    .faqMP.menu-box > .faqMP.menu-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .faqMP.menu-box > .faqMP.menu-gen,
    .faqMP.menu-box > .faqMP.menu-lic {
        color:#757575;
        font-size: 16px;
        padding: 10px;
    }

@media (max-width: 990px) {
    .faqMP.menu-box {
        display: none;
    }
}